.bardiv {
    position: relative;
    width: 90%;
    border: 1px solid rgba(51, 51, 51, 0.11);
    left: 50%;
    transform: translate(-50%,0%);
    height: 4vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    font-family: Raleway;
    align-items: center;
}


.bardiv #addbottom {
    background-color: rgba(0, 0, 0, 0.07);
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.bardiv #addbottom:hover {
    background-color: black;
    color: aliceblue;
}





.bardiv input {
    position: relative;
    width: 95%;
    height: 100%;
    border: none;
    font-family: Raleway;
    font-size: 2vh;
}


.bardiv input:focus-visible {
    outline: none;
}



/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


#tag {
    order: -1;
    position: relative;
    margin-left: 0.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.44);
    padding: 0.3%;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.75);
    white-space: nowrap;
}

#tag svg {
    top: 50%;
    cursor: pointer;
}


@font-face {
    font-family: "Raleway";
    src: url("../Raleway-VariableFont_wght.ttf") format("truetype"), url("../Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}